<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.generator.mapper.CroRechargeRecordMapper">

    <resultMap type="com.ruoyi.generator.domain.CroRechargeRecord" id="CroRechargeRecordResult">
            <result property="id" column="id"/>
            <result property="userId" column="user_id"/>
            <result property="quota" column="quota"/>
            <result property="systemNumber" column="system_number"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
            <result property="createBy" column="create_by"/>
            <result property="updateBy" column="update_by"/>
            <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="selectCroRechargeRecordVo">
        select id, user_id, quota, system_number, create_time, update_time, create_by, update_by, is_delete
        from cro_recharge_record
    </sql>

    <select id="selectCroRechargeRecordList" parameterType="com.ruoyi.generator.domain.CroRechargeRecord" resultMap="CroRechargeRecordResult">
        select a.id, a.user_id, a.quota, a.system_number, a.create_time, a.update_time, a.create_by, a.update_by, a.is_delete,b.user_name as userName,b.phonenumber
        from cro_recharge_record a left join sys_user b on a.user_id = b.user_id
        <where>
                        <if test="userId != null ">
                            and a.user_id = #{userId}
                        </if>
                        <if test="quota != null  and quota != ''">
                            and a.quota = #{quota}
                        </if>
                        <if test="systemNumber != null  and systemNumber != ''">
                            and a.system_number = #{systemNumber}
                        </if>
                        <if test="isDelete != null ">
                            and a.is_delete = #{isDelete}
                        </if>
        </where>
    </select>

    <select id="selectCroRechargeRecordById" parameterType="Long"
            resultMap="CroRechargeRecordResult">
            <include refid="selectCroRechargeRecordVo"/>
            where id = #{id}
    </select>

    <insert id="insertCroRechargeRecord" parameterType="com.ruoyi.generator.domain.CroRechargeRecord" useGeneratedKeys="true"
            keyProperty="id">
        insert into cro_recharge_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="userId != null">user_id,
                    </if>
                    <if test="quota != null">quota,
                    </if>
                    <if test="systemNumber != null">system_number,
                    </if>
                    <if test="createTime != null">create_time,
                    </if>
                    <if test="updateTime != null">update_time,
                    </if>
                    <if test="createBy != null">create_by,
                    </if>
                    <if test="updateBy != null">update_by,
                    </if>
                    <if test="isDelete != null">is_delete,
                    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="userId != null">#{userId},
                    </if>
                    <if test="quota != null">#{quota},
                    </if>
                    <if test="systemNumber != null">#{systemNumber},
                    </if>
                    <if test="createTime != null">#{createTime},
                    </if>
                    <if test="updateTime != null">#{updateTime},
                    </if>
                    <if test="createBy != null">#{createBy},
                    </if>
                    <if test="updateBy != null">#{updateBy},
                    </if>
                    <if test="isDelete != null">#{isDelete},
                    </if>
        </trim>
    </insert>

    <update id="updateCroRechargeRecord" parameterType="com.ruoyi.generator.domain.CroRechargeRecord">
        update cro_recharge_record
        <trim prefix="SET" suffixOverrides=",">
                    <if test="userId != null">user_id =
                        #{userId},
                    </if>
                    <if test="quota != null">quota =
                        #{quota},
                    </if>
                    <if test="systemNumber != null">system_number =
                        #{systemNumber},
                    </if>
                    <if test="createTime != null">create_time =
                        #{createTime},
                    </if>
                    <if test="updateTime != null">update_time =
                        #{updateTime},
                    </if>
                    <if test="createBy != null">create_by =
                        #{createBy},
                    </if>
                    <if test="updateBy != null">update_by =
                        #{updateBy},
                    </if>
                    <if test="isDelete != null">is_delete =
                        #{isDelete},
                    </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCroRechargeRecordById" parameterType="Long">
        delete from cro_recharge_record where id = #{id}
    </delete>

    <delete id="deleteCroRechargeRecordByIds" parameterType="String">
        delete from cro_recharge_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>