<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.generator.mapper.ZYArticleMapper">

<insert id="insertArticle">
    insert into zy_article (article_state,article_keyword,article_title,article_details,create_time) values
        '1',
        #{articleKeyword,jdbcType=VARCHAR},
        #{articleTitle,jdbcType=VARCHAR},
        #{articleDetails,jdbcType=VARCHAR},
        sysdate())
    </insert>

<update id="deleteArticle">
        update zy_article set article_state = '0' where article_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>

<update id="updateArticle">
    update zy_article set
        <if test="articleKeyword != null">
            article_keyword = #{articleKeyword,jdbcType=VARCHAR},
        </if>
        <if test="articleTitle != null">
            article_title = #{articleTitle,jdbcType=VARCHAR},
        </if>
        <if test="articleDetails != null">
            article_details = #{articleDetails,jdbcType=VARCHAR}
        </if>
    where article_id = #{articleId,jdbcType=VARCHAR}
    </update>

<select id="getArticleList" resultType="com.ruoyi.generator.domain.ZYArticle">
    select article_id as articleId,
           article_state as articleState,
           article_keyword as articleKeyword,
           article_title as articleTitle,
           article_details as articleDetails,
           create_time as createTime
    from zy_article where article_state = '1'
    <if test="articleTitle != null and articleTitle != ''">
        and article_title like concat('%', #{articleTitle,jdbcType=VARCHAR}, '%')
    </if>
    <if test="articleKeyword != null and articleKeyword != ''">
        and article_keyword = #{articleKeyword,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null and endTime != null and createTime != '' and endTime != ''">
        and create_time &gt;= #{createTime,jdbcType=VARCHAR}
        and create_time &lt;= #{endTime,jdbcType=VARCHAR}
    </if>

    </select>

<select id="getArticle" resultType="com.ruoyi.generator.domain.ZYArticle">
    select article_id as articleId,
           article_state as articleState,
           article_keyword as articleKeyword,
           article_title as articleTitle,
           article_details as articleDetails
    from zy_article where article_id = #{articleId,jdbcType=VARCHAR}
    </select>
</mapper>