<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.generator.mapper.ZYArticleMapper">

<insert id="insertArticle" parameterType="com.ruoyi.generator.domain.ZYArticle" useGeneratedKeys="true" keyProperty="articleId">
    insert into zy_article <trim prefix="(" suffix=")" suffixOverrides=",">
                            <if test="articleName != null and articleName != ''">
                                article_name,
                            </if>
                            <if test="createName != null and createName != ''">
                                create_name,
                            </if>
                            <if test="notes != null and notes != ''">
                                notes,
                            </if>
                            state,
                            create_time
                            </trim>
                            <trim prefix="values (" suffix=")" suffixOverrides=",">
                                <if test="articleName != null and articleName != ''">#{articleName,jdbcType=VARCHAR},
                                </if>
                                <if test="createName != null and createName != ''">#{createName,jdbcType=VARCHAR},
                                </if>
                                <if test="notes != null and notes != ''">#{notes,jdbcType=VARCHAR},
                                </if>
                                '1',
                                sysdate()
                            </trim>
    </insert>

<delete id="deleteArticle">
        delete from zy_article  where article_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </delete>

<update id="updateArticle">
    update zy_article
    <set>
        <if test="articleName != null and articleName != ''">
            article_name = #{articleName,jdbcType=VARCHAR},
        </if>
        <if test="notes != null and notes != ''">
            notes = #{notes,jdbcType=VARCHAR},
        </if>
    </set>
    where article_id = #{articleId,jdbcType=VARCHAR}
    </update>

<select id="getArticleList" resultType="com.ruoyi.generator.domain.ZYArticle">
    select article_id   as articleId,
           article_name as articleName,
           create_name  as createName,
           notes        as notes,
           create_time  as createTime
    from zy_article where state = '1'
    <if test="articleName != null and articleName != ''">
        and article_name = #{articleName,jdbcType=VARCHAR}
    </if>
    <if test="createName != null and createName != ''">
        and create_name = #{createName,jdbcType=VARCHAR}
    </if>

    </select>

<select id="getArticle" resultType="com.ruoyi.generator.domain.ZYArticle">
    select article_id   as articleId,
           article_name as articleName,
           create_name  as createName,
           notes        as notes,
           create_time  as createTime
    from zy_article where article_id = #{articleId,jdbcType=VARCHAR}
    </select>
</mapper>