<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.generator.mapper.ZYImageMapper">

    <select id="imageAdd">
        insert into zy_image (sku_id,image) values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.skuId,jdbcType=VARCHAR},
            #{item.image,jdbcType=VARCHAR})
        </foreach>
    </select>

    <select id="getImage" resultType="com.ruoyi.generator.domain.ZyImage">
        select sku_id as skuId, image from zy_image where sku_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>