<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.generator.mapper.ZYLayoutDataMapper">


    <insert id="insertLayoutDateList">
        insert into zy_layout_data (layout_id,height,spacing,frame,background,typeface,toward,image,event) values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.layoutId,jdbcType=VARCHAR},
            #{item.height,jdbcType=VARCHAR},
            #{item.spacing,jdbcType=VARCHAR},
            #{item.frame,jdbcType=VARCHAR},
            #{item.background,jdbcType=VARCHAR},
            #{item.typeface,jdbcType=VARCHAR},
            #{item.toward,jdbcType=VARCHAR},
            <choose>
                <when test="item.image != null and item.image !=''">
                    #{item.image,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.event != null and item.event !=''">
                    #{item.event,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

<select id="getLayoutData" resultType="com.ruoyi.generator.domain.ZYLayoutData">
    select layout_id as layoutId,height,spacing,frame,background,typeface,toward,image,event
    from zy_layout_data where layout_id in
    <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item.layoutId,jdbcType=VARCHAR}
    </foreach>
    </select>

<update id="updateZyLayoutData">
    update zy_layout_data
    <trim prefix="set" suffixOverrides=",">
        <trim prefix="height =case" suffix="end,">
            <foreach collection="list" item="item" index="index">
                <if test="item.height != null and item.height != ''">
                    when layout_id = #{item.layoutId,jdbcType=VARCHAR} then #{item.height,jdbcType=VARCHAR}
                </if>
            </foreach>
        </trim>

        <trim prefix="spacing =case" suffix="end,">
            <foreach collection="list" item="item" index="index">
                <if test="item.spacing != null and item.spacing != ''">
                    when layout_id = #{item.layoutId,jdbcType=VARCHAR} then #{item.spacing,jdbcType=VARCHAR}
                </if>
            </foreach>
        </trim>

        <trim prefix="frame =case" suffix="end,">
            <foreach collection="list" item="item" index="index">
                <if test="item.frame != null and item.frame != ''">
                    when layout_id = #{item.layoutId,jdbcType=VARCHAR} then #{item.frame,jdbcType=VARCHAR}
                </if>
            </foreach>
        </trim>

        <trim prefix="background =case" suffix="end,">
            <foreach collection="list" item="item" index="index">
                <if test="item.background != null and item.background != ''">
                    when layout_id = #{item.layoutId,jdbcType=VARCHAR} then #{item.background,jdbcType=VARCHAR}
                </if>
            </foreach>
        </trim>

        <trim prefix="typeface =case" suffix="end,">
            <foreach collection="list" item="item" index="index">
                <if test="item.typeface != null and item.typeface != ''">
                    when layout_id = #{item.layoutId,jdbcType=VARCHAR} then #{item.typeface,jdbcType=VARCHAR}
                </if>
            </foreach>
        </trim>

        <trim prefix="toward =case" suffix="end,">
            <foreach collection="list" item="item" index="index">
                <if test="item.toward != null and item.toward != ''">
                    when layout_id = #{item.layoutId,jdbcType=VARCHAR} then #{item.toward,jdbcType=VARCHAR}
                </if>
            </foreach>
        </trim>

        <trim prefix="image =case" suffix="end,">
            <foreach collection="list" item="item" index="index">
                <if test="item.image != null and item.image != ''">
                    when layout_id = #{item.layoutId,jdbcType=VARCHAR} then #{item.image,jdbcType=VARCHAR}
                </if>
            </foreach>
        </trim>

        <trim prefix="event =case" suffix="end,">
            <foreach collection="list" item="item" index="index">
                <if test="item.event != null and item.event != ''">
                    when layout_id = #{item.layoutId,jdbcType=VARCHAR} then #{item.event,jdbcType=VARCHAR}
                </if>
            </foreach>
        </trim>

    </trim>
    where layout_id in
    <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item.layoutId,jdbcType=VARCHAR}
    </foreach>
    </update>

<delete id="deleteZyLayoutData">
    delete from zy_layout_data where layout_id in
    <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item.layoutId,jdbcType=VARCHAR}
    </foreach>
    </delete>

</mapper>