<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.generator.mapper.ZyLotteryMapper">

    <resultMap type="com.ruoyi.generator.pojo.ZyLottery" id="ZyLotteryResult">
            <result property="lotteryId" column="lottery_id"/>
            <result property="lotteryName" column="lottery_name"/>
            <result property="lotteryType" column="lottery_type"/>
            <result property="discount" column="discount"/>
            <result property="money" column="money"/>
            <result property="skuId" column="sku_id"/>
            <result property="expirationTime" column="expiration_time"/>
            <result property="lotteryImage" column="lottery_image"/>
            <result property="notes" column="notes"/>
            <result property="state" column="state"/>
            <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectZyLotteryVo">
        select lottery_id, lottery_name, lottery_type, probability,discount, money,sku_id, expiration_time, lottery_image, notes, state, create_time
        from zy_lottery
    </sql>

    <select id="selectZyLotteryList" parameterType="com.ruoyi.generator.pojo.ZyLottery" resultMap="ZyLotteryResult">
        <include refid="selectZyLotteryVo"/>
        <where>
                        state = '1'
                        <if test="lotteryName != null  and lotteryName != ''">
                            and lottery_name like concat('%', #{lotteryName}, '%')
                        </if>
                        <if test="lotteryType != null  and lotteryType != ''">
                            and lottery_type = #{lotteryType}
                        </if>
                        <if test="skuId != null  and skuId != ''">
                            and sku_id = #{skuId}
                        </if>
                        <if test="expirationTime != null  and expirationTime != ''">
                            and expiration_time = #{expirationTime}
                        </if>
        </where>
    </select>

    <select id="selectZyLotteryByLotteryId" parameterType="Long"
            resultMap="ZyLotteryResult">
            <include refid="selectZyLotteryVo"/>
            where state = '1' and lottery_id = #{lotteryId}
    </select>

    <insert id="insertZyLottery" parameterType="com.ruoyi.generator.pojo.ZyLottery">
        insert into zy_lottery
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="lotteryName != null">
                        lottery_name,
                    </if>
                    <if test="lotteryType != null">
                        lottery_type,
                    </if>
                    <if test="probability != null">
                        probability,
                    </if>
                    <if test="discount != null">
                        discount,
                    </if>
                    <if test="money != null">
                        money,
                    </if>
                    <if test="skuId != null">
                        sku_id,
                    </if>
                    <if test="expirationTime != null">
                        expiration_time,
                    </if>
                    <if test="lotteryImage != null">
                        lottery_image,
                    </if>
                    <if test="notes != null">
                        notes,
                    </if>
                    state,
                    create_time,

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="lotteryName != null">#{lotteryName},
                    </if>
                    <if test="lotteryType != null">#{lotteryType},
                    </if>
                    <if test="probability != null">#{probability},
                    </if>
                    <if test="discount != null">#{discount},
                    </if>
                    <if test="money != null">#{money},
                    </if>
                    <if test="skuId != null">#{skuId},
                    </if>
                    <if test="expirationTime != null">#{expirationTime},
                    </if>
                    <if test="lotteryImage != null">#{lotteryImage},
                    </if>
                    <if test="notes != null">#{notes},
                    </if>
                    '1',
                    sysdate()
        </trim>
    </insert>

    <update id="updateZyLottery" parameterType="com.ruoyi.generator.pojo.ZyLottery">
        update zy_lottery
        <trim prefix="SET" suffixOverrides=",">
                    <if test="lotteryName != null">
                        lottery_name = #{lotteryName},
                    </if>
                    <if test="probability != null">
                        probability = #{probability},
                    </if>
                    <if test="discount != null">
                        discount = #{discount},
                    </if>
                    <if test="money != null">
                        money = #{money},
                    </if>
                    <if test="skuId != null">
                        sku_id = #{skuId},
                    </if>
                    <if test="expirationTime != null">
                        expiration_time = #{expirationTime},
                    </if>
                    <if test="lotteryImage != null">
                        lottery_image = #{lotteryImage},
                    </if>
                    <if test="notes != null">
                        notes = #{notes},
                    </if>
        </trim>
        where lottery_id = #{lotteryId}
    </update>

    <update id="deleteZyLotteryByLotteryId" parameterType="Long">
        update zy_lottery set state = '0' where lottery_id = #{lotteryId}
    </update>

    <update id="deleteZyLotteryByLotteryIds" parameterType="String">
        delete from zy_lottery  where lottery_id in
        <foreach item="lotteryId" collection="array" open="(" separator="," close=")">
            #{lotteryId}
        </foreach>
    </update>

    <select id="selectList" resultMap="ZyLotteryResult">
        select lottery_id, lottery_name, lottery_type, probability,discount, money,sku_id, expiration_time, lottery_image, notes, state, create_time
        from zy_lottery where state = '1' and lottery_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>