<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.generator.mapper.ZYTeamMapper">

    <resultMap type="com.ruoyi.common.core.domain.entity.SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="fund"         column="fund"         />
        <result property="userType"     column="user_type"    />
        <result property="nickName"     column="nick_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="status"       column="status"       />
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="number"       column="number"       />
        <result property="remark"       column="remark"       />
        <association property="dept"    javaType="com.ruoyi.common.core.domain.entity.SysDept"         resultMap="deptResult" />
        <!--association property="zyTeam"    javaType="com.ruoyi.common.core.domain.entity.ZYTeam"         resultMap="BaseResultMap" /-->
        <collection  property="roles"   javaType="java.util.List"  resultMap="RoleResult" />
    </resultMap>

    <resultMap id="deptResult" type="com.ruoyi.common.core.domain.entity.SysDept">
        <id     property="deptId"    column="dept_id"     />
        <result property="parentId"  column="parent_id"   />
        <result property="deptName"  column="dept_name"   />
        <result property="ancestors" column="ancestors"   />
        <result property="orderNum"  column="order_num"   />
        <result property="leader"    column="leader"      />
        <result property="status"    column="dept_status" />
    </resultMap>

    <resultMap id="RoleResult" type="com.ruoyi.common.core.domain.entity.SysRole">
        <id     property="roleId"       column="role_id"        />
        <result property="roleName"     column="role_name"      />
        <result property="roleKey"      column="role_key"       />
        <result property="roleSort"     column="role_sort"      />
        <result property="dataScope"    column="data_scope"     />
        <result property="status"       column="role_status"    />
    </resultMap>

    <resultMap id="BaseResultMap" type="com.ruoyi.common.core.domain.entity.ZYTeam">
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="offline_user_id" property="offlineUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,
        offline_user_id,
        create_time
    </sql>

    <sql id="selectUser">
        select u.user_id, u.fund, u.user_type ,u.nick_name, u.email, u.phonenumber, u.sex, u.status, u.login_ip, u.login_date, u.create_time, u.number, u.remark,
               d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.status as dept_status,
               r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status
        from sys_user u, sys_dept d, sys_user_role ur,sys_role r
    </sql>
    
<insert id="insertTeam">
    insert into zy_team (user_id,offline_user_id,create_time) values (#{userId,jdbcType=VARCHAR},#{offlineUserId,jdbcType=VARCHAR},sysdate())
    </insert>

    <select id="listUser" resultType="com.ruoyi.common.core.domain.entity.SysUser" resultMap="SysUserResult">
        <include refid="selectUser"/> where
            u.dept_id = d.dept_id
        AND u.user_id = ur.user_id
        AND r.role_id = ur.role_id
        AND u.user_id in (
        select offline_user_id from zy_team where user_id = #{userId,jdbcType=VARCHAR})
    </select>

    <select id="getSuperior" resultMap="SysUserResult">
        select u.user_id, u.nick_name, u.user_type, u.email, u.phonenumber, u.sex, u.login_ip, u.login_date,  u.remark,
               d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.status as dept_status,
               r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status
        from   sys_user u, sys_dept d, sys_user_role ur,sys_role r
        where  u.dept_id = d.dept_id
        AND    u.user_id = ur.user_id
        AND    r.role_id = ur.role_id
        AND    u.user_id = (select user_id from zy_team where offline_user_id = #{userId,jdbcType=VARCHAR})
    </select>
</mapper>