<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.generator.mapper.ZyTicketMapper">

    <resultMap type="com.ruoyi.generator.domain.ZyTicket" id="ZyTicketResult">
            <result property="ticketId" column="ticket_id"/>
            <result property="lotteryId" column="lottery_id"/>
            <result property="lotteryName" column="lottery_name"/>
            <result property="lotteryImage" column="lottery_image"/>
            <result property="probability" column="probability"/>
            <result property="lotteryType" column="lottery_type"/>
            <result property="amountMin" column="amount_min"/>
            <result property="amountMax" column="amount_max"/>
            <result property="discount" column="discount"/>
            <result property="createTime" column="create_time"/>
            <result property="skuId" column="sku_id"/>
            <result property="notes" column="notes"/>
    </resultMap>

    <sql id="selectZyTicketVo">
        select ticket_id, lottery_id,lottery_name, lottery_image, probability, lottery_type, amount_min, amount_max, discount, create_time, sku_id, notes
        from zy_ticket
    </sql>

    <select id="selectZyTicketList" parameterType="com.ruoyi.generator.domain.ZyTicket" resultMap="ZyTicketResult">
        <include refid="selectZyTicketVo"/>
        <where>
                        <if test="lotteryId != null  and lotteryId != ''">
                            and lottery_id like concat('%', #{lotteryId}, '%')
                        </if>
                        <if test="lotteryName != null  and lotteryName != ''">
                            and lottery_name like concat('%', #{lotteryName}, '%')
                        </if>
                        <if test="probability != null  and probability != ''">
                            and probability = #{probability}
                        </if>
                        <if test="lotteryType != null  and lotteryType != ''">
                            and lottery_type = #{lotteryType}
                        </if>
                        <if test="amountMin != null  and amountMin != ''">
                            and amount_min = #{amountMin}
                        </if>
                        <if test="amountMax != null  and amountMax != ''">
                            and amount_max = #{amountMax}
                        </if>
                        <if test="discount != null  and discount != ''">
                            and discount = #{discount}
                        </if>

                        <if test="skuId != null  and skuId != ''">
                            and sku_id = #{skuId}
                        </if>
        </where>
    </select>

    <select id="selectZyTicketByTicketId" parameterType="Long"
            resultMap="ZyTicketResult">
            <include refid="selectZyTicketVo"/>
            where ticket_id = #{ticketId}
    </select>

    <update id="updateZyTicket" parameterType="com.ruoyi.generator.domain.ZyTicket">
        update zy_ticket
        <trim prefix="SET" suffixOverrides=",">
                    <if test="lotteryName != null and lotteryName != ''">lottery_name =
                        #{lotteryName},
                    </if>
                    <if test="lotteryImage != null">lottery_image =
                        #{lotteryImage},
                    </if>
                    <if test="probability != null">probability =
                        #{probability},
                    </if>
                    <if test="lotteryType != null">lottery_type =
                        #{lotteryType},
                    </if>
                    <if test="amountMin != null">amount_min =
                        #{amountMin},
                    </if>
                    <if test="amountMax != null">amount_max =
                        #{amountMax},
                    </if>
                    <if test="discount != null">discount =
                        #{discount},
                    </if>
                    <if test="createTime != null">create_time =
                        #{createTime},
                    </if>
                    <if test="skuId != null">sku_id =
                        #{skuId},
                    </if>
                    <if test="notes != null">notes =
                        #{notes},
                    </if>
        </trim>
        where ticket_id = #{ticketId}
    </update>

    <delete id="deleteZyTicketByTicketId" parameterType="Long">
        delete from zy_ticket where ticket_id = #{ticketId}
    </delete>

    <delete id="deleteZyTicketByTicketIds" parameterType="String">
        delete from zy_ticket where ticket_id in
        <foreach item="ticketId" collection="array" open="(" separator="," close=")">
            #{ticketId}
        </foreach>
    </delete>

    <select id="selectAll" resultType="com.ruoyi.generator.domain.ZyTicket">
        select ticket_id as ticketId,
               lottery_id as lotteryId,
               lottery_name as lotteryName,
               lottery_image as lotteryImage,
               probability,
               lottery_type as lotteryType,
               amount_min as amountMin,
               amount_max as amountMax,
               discount,
               create_time as createTime,
               sku_id as skuId,
               notes
        from zy_ticket
    </select>

    <insert id="insertZyTickets">
        INSERT INTO zy_ticket (lottery_id, lottery_name, lottery_image, probability, lottery_type, amount_min, amount_max, discount, create_time, sku_id, notes) values
        <foreach collection="list" item="item" separator=",">
            (#{item.lotteryId},#{item.lotteryName},#{item.lotteryImage},#{item.probability},#{item.lotteryType},#{item.amountMin},#{item.amountMax},#{item.discount},#{item.createTime},#{item.skuId},#{item.notes})
        </foreach>
    </insert>

    <delete id="deleteLotteryId">
        delete from zy_ticket where lottery_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>